body {
    background-color:rgb(211, 211, 12);
  }
  
  .jumbotron {
    background-color: rgb(211, 211, 12);
  }
  
  .card {
    background-color: wheat;
  }
  
  /* Buttons */
  .submitBtn,
  .devourBtn {
    background-color: #3587A4;
    border-color:#3587A4;
    color: black;
  }
  
  .submitBtn:hover,
  .devourBtn:hover {
    background-color:#315461;
    border-color: #315461;
  }